@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root {
  --main-color: #db4437;
  --white-color: white;
}
.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
::selection {
  background: var(--main-color);
  color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  padding: 1.8rem 0;
}
.navBar h3 {
  margin: 0;
}
.navBar .navLink {
  color: black;
  text-decoration: none;
  margin: 0.5rem 1rem 0 1rem;
}
.navBar .navLink:hover {
  color: var(--main-color);
}
.links {
  display: flex;
  justify-content: space-around;
}
.links li {
  list-style: none;
  color: var(--white-color);
  margin-top: 5px;
}
.links h1,
h2,
h3,
h4 {
  color: var(--white-color);
  font-size: 1.5rem;
}
.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 0.6rem 1.7rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: var(--white-color);
  color: black;
  padding: 0.6rem 1.7rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.btn-sec {
  background-color: var(--white-color);
  color: black;
  padding: 0.6rem 1.7rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-sec:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 0.6rem 1.7rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.nav-btns {
  margin-top: 1rem;
}
.avatar {
  background-image: url("./img/man.png");

  /* make a square container */
  width: 70px;
  height: 70px;

  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;
  /* fill the container, preserving aspect ratio, and cropping to fit */

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
.avatar-small {
  background-image: url("./img/man.png");

  /* make a square container */
  width: 40px;
  height: 35px;
  display: inline-block;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin-top: -2rem;
  border: 2px solid var(--white-color);
  position: absolute;
  top: 4rem;
}
.authContainer {
  background-color: var(--white-color);
  margin-top: 1rem;
  text-align: center;
  width: 25rem;
  padding: 5rem 1rem;
  border-radius: 15px;
  box-shadow: -2px 6px 34px 0px rgba(102, 102, 102, 0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Landing Page */

.landing-background {
  background-color: var(--main-color);
  margin: 0;
  padding: 2rem 0;
  height: 100vh;
}
.landing-container {
  text-align: left;
  background-color: var(--white-color);
  margin-top: 2.5rem;
  width: 90vw;
  height: 75vh;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2px 6px 34px 0px rgba(102, 102, 102, 0.75);
}
.primary-landing-h1 {
  font-size: 8rem;
  font-weight: 500;
  margin: 5rem 0 0 2rem;
}
.secondary-landing-h1 {
  font-size: 4.5rem;
  font-weight: 500;
  margin: 0.5rem 0 0 2.5rem;
  color: var(--white-color);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.landing-container .btn {
  margin-left: 3rem;
}
.landing-container button {
  margin: 2rem 0 0 0.5rem;
  font-size: 1.2rem;
}

.half-background {
  background-color: var(--main-color);
  height: 40vh;
}
/* todos */
/* .todo {
  margin-top: 2rem;
} */
.todo input {
  margin-top: 0.3rem;
  width: 70%;
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  border: 1px solid #4f4f4f;
}
.todo h1 {
  margin-top: 00.5rem;
  color: var(--white-color);
}
.todo-list {
  background-color: var(--white-color);
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 72%;
  height: 40%;
  border: 1px solid #4f4f4f;
  border-radius: 15px;
}
